body {
    margin: 0;
}

/* style 태그    id선택자>class선택자>tag선택자 (힘의 차이)   */
/* 만약 선택자가 모두 같으면 가장 마지막에 등장하는 선택자가 우선순위 높음 */
a {
    color: black;
    text-decoration: none;
}

/* id선택자 */
/* class선택자 */


h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 10px;
}

#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}

#grid ol {
    border-right: 1px solid gray;
    /* ol은 block level element 이므로 넓이 조정해줘 */
    width: 100px;
    margin: 0;
    padding: 20px;
    padding-left: 33px;

}

#grid #article {
    padding-left: 25px;
}

/* screen with <800px */
@media(max-width:800px) {
    #grid {
        display: block;
    }

    #grid ol {
        border-right: none;
    }
    h1 {
        border-bottom: none;
    }  
}